*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image{
    max-width: 15vw;
    max-height: 50vh;
    border-radius: 5rem;
}
.block{
    display: flex;
    gap: 20px;
    overflow: hidden;
}